/* General */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: 18px;
}

/* Mise en page */

html,
body,
nav,
nav ul,
h1,
h3,
p,
.SEP ul,
.CP-AP {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
}
/* Text */
h1,
h2,
h3 {
  font-family: "montserrat", sans-serif;
}
h2 {
  text-align: center;
  font-size: 2em;
  margin: 0 auto 20px auto;
}
h3 {
  font-size: 1.5em;
  margin: 10px auto 20px auto;
  text-align: center;
}
p,
li {
  text-align: justify;
}

/* Section */
header,
footer,
.title,
section {
  box-shadow: 0px 0px 15px 4px #000000;
}
section {
  width: 75%;
  border-radius: 20px;
}

li {
  list-style-type: none;
}
header,
.APropos,
.CP,
footer {
  background-image: url(https://www.stockvault.net/data/2022/10/16/295127/preview16.jpg);
}

.title,
.APropos,
.SEP,
.CP,
#carrousel {
  margin: 0 auto 5vh auto;
  background-size: cover;
  padding: 30px;
}

/* Header / Footer */
header,
footer {
  height: 10vh;
}

header li a:hover,
footer a:hover {
  font-weight: 900;
}

header li a,
footer a {
  color: black;
  text-decoration: none;
}

/* Header */
header {
  margin-bottom: 5vh;
}

nav {
  display: flex;
  height: 100%;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header li {
  text-align: center;
}

/* Title */
.title {
  height: 83vh;
  background-image: url(https://www.stockvault.net/data/2022/10/16/295117/preview16.jpg);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title-text {
  height: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title img {
  margin: auto;
  width: 150px;
  border-radius: 20px;
  margin-bottom: 20px;
}
h1 {
  font-size: 4em;
}
.title p {
  font-size: 2.5em;
}
span {
  font-size: 1.5em;
  text-align: center;
}
h1,
.title p,
#carrousel p {
  text-align: center;
}

/* SEP */
.SEP,
#carrousel {
  background-image: url(https://www.stockvault.net/data/2022/10/16/295115/preview16.jpg);
}

.SEP ul,.CP-ECA, .CP-AP ul {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 30px;
}
.SEP li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Compétences */
.CP H3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CP-A, .CP-ECA, .CP-AP ul{
  padding:0;
}
.CP-A {
  display: flex;
  justify-content: space-around;
}

.CP-AP div{
  display: flex;
flex-direction: column;
justify-content: center;
}

.CP li, .CP-AP div p {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  text-align: center;
  justify-content: center;
}
.CP img {
  width: 30px;
}
.CP-AP div img{
margin: auto;
}
.sass{
  height: 30px;
  background-color: rgba(213, 110, 163);
  border-radius: 5px;
  padding: 2px;
}
/* Carrousel */
#carrousel {
  height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carrouselMove {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#carrousel p {
  margin-top: 10px;
}
#carrousel input {
  width: 20px;
}
#carrousel img {
  width: auto;
  height: 50vh;
}
#dots {
  padding: 5px;
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}
.dot {
  margin-inline: 5px;
  width: 10px;
  height: 10px;
  border: 3px solid black;
  border-radius: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.dot_selected {
  background-color: black;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
}
footer ul {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer img {
  display: flex;
  width: 1.5em;
}

/* Small devices (phones, less than 1024px) */
@media (max-width: 1024px) {
  .title-text {
    height: 60%;
  }
  .title img {
    margin: auto;
  }
  .SEP ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #carrousel,
  #carrousel img {
    height: auto;
  }
  #carrousel img {
    width: 80%;
    object-fit: contain;
  }
  footer {
    height: auto;
  }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  header {
    height: auto;
    padding: 20px;
  }
  .title {
    height: auto;
    gap: 20px;
  }
  header ul {
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  }
  
  header ul li a {
    font-size: 12px;
  }
  .title-text{
    gap: 10px
  }
  .title img{
    width: 100px;
  }
  h1{
    font-size: 26px;
  }
  .title-text p{
    font-size: 22px;
  }
  .title-text span{
    font-size: 18px;
  }
  section, ul{
    width: 100%;
  }
  h2{
    font-size: 18px;
  }
  p, li{
    font-size: 14px;
  }
h3{
  font-size: 16px;
}
.CP-ECA{
  display: flex;
  justify-content: space-around;
}
.CP-AP ul{
  gap: 10px;
    justify-content: center;
}
.dot{
  width: 10px;
  height: 10px;
}
}
